.form-label {
    color: $form-label-color;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.form-control,
.form-select {
    border-color: $color-silver;
    border-radius: $base-form-control-border-radius;
    color: $color-jetblack;
    font-weight: $font-weight-medium;
    height: $base-form-control-height;
}

.SumoSelect {
    width: 100%;
    .CaptionCont {
        border-color: $color-silver;
        border-radius: $base-form-control-border-radius;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        .placeholder {
            background-color: transparent;
            color: $color-jetblack !important;
            font-weight: $font-weight-medium;
            font-style: normal !important;
            opacity: 1;
        }
        label {
            i {
                background-image: none;
            }
        }
    }
    .optWrapper {
        &.multiple {
            .options {
                li.opt.selected {
                    span {
                        i {
                            background-color: $color-primary;
                        }
                    }
                }
            }
        }
    }
    &.open {
        .CaptionCont {
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            .search-txt {
                padding: 0.375rem 2.25rem 0.375rem 0.75rem;
                height: calc($base-form-control-height - 2px);
            }
        }
        .optWrapper {
            top: $base-form-control-height;
        }
    }
    &:hover {
        .CaptionCont {
            border-color: $color-silver;
            outline: 0;
        }
    }
    &:focus {
        .CaptionCont {
            border-color: $base-form-control-focus-border-color;
            outline: 0;
            box-shadow: $base-form-control-focus-box-shadow;
        }
    }
}

.chosen-container {
    .chosen-single {
        background: $base-form-control-background-color;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border-color: $color-silver !important;
        border-radius: $base-form-control-border-radius;
        box-shadow: none;
        color: $color-jetblack;
        font-weight: $font-weight-medium;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        min-height: $base-form-control-height;
        span {
            font-size: $base-font-size;
        }
    }
    .chosen-choices {
        @extend .chosen-single;
        .search-field {
            input[type="text"] {
                color: $color-jetblack !important;
                font-size: $base-font-size !important;
                font-family: $base-font-family !important;
                font-weight: $font-weight-medium;
            }
        }
        .search-choice {
            background-color: $color-whitesmoke !important;
            background-image: none !important;
            border-color: $color-silver !important;
            box-shadow: none !important;
            margin: 0 5px 0 0 !important;
            padding: 5px 24px 5px 5px !important;
            .search-choice-close {
                top: 5px !important;
                right: 5px !important;
                &::after {
                    content: "×";
                    font-size: $font-size-xl;
                    color: $color-slategray;
                }
            }
            &:first-child {
                margin-left: -6px !important;
            }
        }
    }
    .chosen-drop {
        border-color: $color-silver !important;
    }
}

.is-datepicker {
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMDgsMzJIMTg0VjI0YTgsOCwwLDAsMC0xNiwwdjhIODhWMjRhOCw4LDAsMCwwLTE2LDB2OEg0OEExNiwxNiwwLDAsMCwzMiw0OFYyMDhhMTYsMTYsMCwwLDAsMTYsMTZIMjA4YTE2LDE2LDAsMCwwLDE2LTE2VjQ4QTE2LDE2LDAsMCwwLDIwOCwzMlpNNzIsNDh2OGE4LDgsMCwwLDAsMTYsMFY0OGg4MHY4YTgsOCwwLDAsMCwxNiwwVjQ4aDI0VjgwSDQ4VjQ4Wk0yMDgsMjA4SDQ4Vjk2SDIwOFYyMDhabS02OC03NmExMiwxMiwwLDEsMS0xMi0xMkExMiwxMiwwLDAsMSwxNDAsMTMyWm00NCwwYTEyLDEyLDAsMSwxLTEyLTEyQTEyLDEyLDAsMCwxLDE4NCwxMzJaTTk2LDE3MmExMiwxMiwwLDEsMS0xMi0xMkExMiwxMiwwLDAsMSw5NiwxNzJabTQ0LDBhMTIsMTIsMCwxLDEtMTItMTJBMTIsMTIsMCwwLDEsMTQwLDE3MlptNDQsMGExMiwxMiwwLDEsMS0xMi0xMkExMiwxMiwwLDAsMSwxODQsMTcyWiI+PC9wYXRoPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.datepicker {
    &.dropdown-menu {
        padding: 0.5rem;
    }
    table {
        height: 250px;
        thead {
            tr {
                th {
                    width: 34px;
                    height: 29px;
                    &.next,
                    &.prev {
                        content: "";
                        color: $color-primary;
                        font-size: 0px;
                        &::before {
                            color: $color-primary;
                            font-family: "Phosphor";
                            font-size: 18px;
                        }
                    }
                    &.next {
                        &::before {
                            content: "\e13a";
                        }
                    }
                    &.prev {
                        &::before {
                            content: "\e138";
                        }
                    }
                }
                .dow {
                    color: $color-primary;
                    font-size: $font-size-md;
                    font-weight: $font-weight-semibold;
                    border-bottom: 1px solid $color-silver;
                }
            }
        }
    }
    tbody {
        tr {
            &:first-child {
                td {
                    &.day {
                        padding-top: 14px;
                        padding-bottom: 6px;
                    }
                }
            }
            td {
                &.old,
                &.new {
                    color: $color-slategray;
                    opacity: 0.5;
                    //font-weight: 400;
                    border-top: 1px solid transparent;
                    pointer-events: none;
                }
            }
        }
    }
}

.ui-timepicker-standard {
    font-family: $base-font-family;
    .ui-timepicker {
        text-align: left;
        width: calc(100% - 20px) !important;
        li {
            width: 100% !important
        }
    }
}
